# DS-SF-27 | Codealong 02 | Research Design and `pandas`

## Part A - Introduction to `pandas` with the SF Housing dataset

> ### Set up the environment

In [3]:
import os

import pandas as pd
pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Load data from files and the Web

`pandas` provides powerful facilities for easy retrieval of data from a variety of data sources.  In particular, it provides built-in support for loading data in `.csv` format, a common means of storing structured data in text files.

In [4]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'))

> Let's verify the type of `df`:

In [5]:
type(df)

pandas.core.frame.DataFrame

The result is a `DataFrame`.  A `DataFrame` stores tabular data:

In [6]:
df

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900.0,sqft,NaN,NaN,1966.0

> ### Shape of the `DataFrame`: number of rows and columns

In [7]:
df.shape

(1000, 15)

The first value is the number of rows, the second the number of columns.

In [8]:
df.shape[0]

1000

In [9]:
df.shape[1]

15

(you can also use the idiomatic `len` to get the number of rows)

In [10]:
len(df)

1000

> We can get the "names" of the rows of the `DataFrame` with the `index` property.

In [11]:
df.index

RangeIndex(start=0, stop=1000, step=1)

Here, rows are just numbered from 0 to 1,000 (excluded).

> We can also get the names of the different columns of the `DataFrame` with the `column` property.

In [12]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

> ### Subsetting on columns of a `DataFrame`

Selecting data in specific columns of a `DataFrame` is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location based lookup of the columns.

> E.g., columns #5 and #6:

In [13]:
# TODO
df[ [5,6] ]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
..         ...           ...
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

> Let's check that the column subsetting returns a `DataFrame`:

In [14]:
type(df[ [5,6] ])

pandas.core.frame.DataFrame

A `DataFrame` can be made of a single column.

> E.g., column #7 only:

In [18]:
df [ [7] ]

    IsAStudio
0       False
1       False
2       False
..        ...
997     False
998     False
999     False

[1000 rows x 1 columns]

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [45]:
df[ ['SalePrice', 'SalePriceUnit'] ]

            SalePrice SalePriceUnit
ID
15063471    710000.00             $
15063505         2.15            $M
15063609         5.60            $M
...               ...           ...
2128308939  830000.00             $
2131957929  835000.00             $
2136213970  825000.00             $

[1000 rows x 2 columns]

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value based lookup of the column:

In [19]:
df['Address']

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

> Let's double check that result is a `Series`:

In [21]:
# type(df['Address'])
df.Address

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

Columns can also be retrieved using "attribute access" as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  However, this won't work for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `Address` property:

In [27]:
df.Address

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

> Use the `name` property (not `columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

In [24]:
df.Address.name

'Address'

To find the zero-based location of a column, use the `.get_loc()` method of the `columns` property.  E.g.,

In [28]:
df.columns.get_loc('BedCount')

8

In [29]:
df[ [df.columns.get_loc('BedCount')] ]

     BedCount
0         1.0
1         NaN
2         2.0
..        ...
997       3.0
998       2.0
999       1.0

[1000 rows x 1 columns]

> We should get the same output as subsetting a `DataFrame` on `BedCount`:

In [31]:
df[ ['BedCount'] ]

     BedCount
0         1.0
1         NaN
2         2.0
..        ...
997       3.0
998       2.0
999       1.0

[1000 rows x 1 columns]

> ### Subsetting on rows of a `DataFrame`; and values of a `DataFrame` using the index

#### Slice using the `[]` operator

> E.g., the first five rows:

In [32]:
# TODO
df[:5]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0

> ### Select rows by index label and location: `.loc[]` and `.iloc[]`

In [51]:
df.ID

NameError: name 'ID' is not defined

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.  E.g., `ID`:

In [38]:
df = df.set_index('ID')

KeyError: 'ID'

In [ ]:
df.index

In [ ]:
df

> E.g., row with index 15063505:

In [ ]:
df.loc[15063505]

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [ ]:
df.loc[ [15063505,15064044] ]

> E.g., rows #1 and #3:

In [ ]:
df.iloc[ [1,3] ]

> ### Scalar lookup by label or location using `.at[]` and `.iat[]`

Scalar values can be looked up by label using .at, by passing both the row label and then the column name/value.

> E.g., row with index 15064044 and column `DateOfSale`.

In [ ]:
df.at[150,'DateOfSale']

Scalar values can also be looked up by location using .iat by passing both the row location and then the column location.

> E.g., row #3 and column #3:

In [ ]:
df.iat[3,3]

> ### Select rows of a `DataFrame` by Boolean selection

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [40]:
df[ df.BuiltInYear < 1990 ]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

This results in a `Series` that can be used to subset on the rows which values are `True`.

> Let's subset on that `Series`:

In [42]:
df[ df.BuiltInYear < 1990 ] [ ['Address']]

                                              Address
ID
15063471    55 Vandewater St APT 9, San Francisco, CA
15063505          740 Francisco St, San Francisco, CA
15063609          819 Francisco St, San Francisco, CA
...                                               ...
2128308939       33 Santa Cruz Ave, San Francisco, CA
2131957929          1821 Grant Ave, San Francisco, CA
2136213970           1200 Gough St, San Francisco, CA

[740 rows x 1 columns]

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [44]:
df[(df.BuiltInYear < 1990) & (df.Size > 1500)]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,...,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,...,4102.0,sqft,3049.0,sqft,1948.0
...,...,...,...,...,...,...,...,...,...,...,...
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,...,6600.0,sqft,NaN,NaN,1907.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [48]:
df[(df.BuiltInYear < 1990) & (df.Size > 1500)][['Address']]

                                            Address
ID
15063609        819 Francisco St, San Francisco, CA
15064536     2300 Leavenworth St, San Francisco, CA
15064640    1047-1049 Lombard St, San Francisco, CA
...                                             ...
2121221385         925 Larkin St, San Francisco, CA
2122992200        129 Octavia St, San Francisco, CA
2128308939     33 Santa Cruz Ave, San Francisco, CA

[351 rows x 1 columns]

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

> ### Remove the `Latitude` and `Longitude` columns

In [52]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [53]:
df

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,False,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,False,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,False,...,900.0,sqft,NaN,NaN,1966.0

> ### `SalePrice`: scale all values to dollars

In [54]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [55]:
df_1 = df[df.SalePriceUnit == '$']

df_1 = df_1.drop('SalePriceUnit', axis = 1)
# Really a workaround as DataFrame.drop() with inplace = True issue warnings...

df_6 = df[df.SalePriceUnit == '$M']

df_6 = df_6.drop('SalePriceUnit', axis = 1)

# Replacing the content of a column
df_6.SalePrice = df_6.SalePrice * (10 ** 6)

# Adding rows to a DataFrame
# Concatenation of two DataFrame objects
df = pd.concat([df_1, df_6])

In [56]:
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,False,1.0,...,550.0,sqft,NaN,NaN,1980.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.0,False,2.0,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.0,False,2.0,...,1033.0,sqft,NaN,NaN,1993.0
...,...,...,...,...,...,...,...,...,...,...,...
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1400000.0,False,2.0,...,NaN,NaN,NaN,NaN,2004.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1430000.0,False,NaN,...,6600.0,sqft,NaN,NaN,1907.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2750000.0,True,NaN,...,3655.0,sqft,NaN,NaN,1883.0

In [57]:
df.sort_index()

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,False,1.0,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000.0,False,NaN,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000.0,False,2.0,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.0,False,3.0,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.0,False,2.0,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.0,False,1.0,...,900.0,sqft,NaN,NaN,1966.0

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [58]:
df.IsAStudio = df.IsAStudio *1.0

In [59]:
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,0,1.0,...,550.0,sqft,NaN,NaN,1980.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.0,0,2.0,...,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.0,0,2.0,...,1033.0,sqft,NaN,NaN,1993.0
...,...,...,...,...,...,...,...,...,...,...,...
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1400000.0,0,2.0,...,NaN,NaN,NaN,NaN,2004.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1430000.0,0,NaN,...,6600.0,sqft,NaN,NaN,1907.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2750000.0,1,NaN,...,3655.0,sqft,NaN,NaN,1883.0

> ### `Size`

In [60]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [61]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [62]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [63]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

444

> Group #2: the `sqft` values:

In [64]:
df_sqft = df[df.LotSizeUnit == 'sqft']
df_sqft = df_sqft.drop('LotSizeUnit', axis = 1)

df_sqft.shape[0]

552

> Group #3: the `ac` values:

In [65]:
df_ac = df[df.LotSizeUnit == 'ac']
df_ac = df_ac.drop('LotSizeUnit', axis = 1)

df_ac.shape[0]

4

> Let's scale these `acre` values into `sqft`:

In [66]:
# (1 acre = 43,560 sqft)
df_ac.LotSize = df_ac.LotSize * 43560
# TODO

Let's now put everything back together...

In [67]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [68]:
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,0,1.0,NaN,550.0,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000.0,0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000.0,0,2.0,3.5,2040.0,3920.0,1976.0
...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.0,0,3.0,3.0,1738.0,2299.0,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.0,0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.0,0,1.0,1.0,900.0,NaN,1966.0

> ### Save the `pandas` `DataFrame` to a `.csv` file

In [69]:
df.to_csv(os.path.join('..', 'datasets', 'zillow-02.csv'), index_label = 'ID')