# DS-SF-27 | Lab 02 - Research Design and `pandas`

In this lab, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [1]:
import os

import pandas as pd

pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [3]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
..     ...      ...   ...   ...    ...  ...
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [4]:
df.shape

(153, 6)

In [5]:
df.shape[0]

153

In [6]:
len(df)

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [12]:
# len(df.columns)
i=0
while i< len(df.columns):
    print df.columns[i]
    i+=1

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [13]:
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [14]:
df.loc[[0,1]]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [22]:
df.loc[[len(df)-1,(len(df)-2)]]

     Ozone  Solar.R  Wind  Temp  Month  Day
152   20.0    223.0  11.5    68      9   30
151   18.0    131.0   8.0    76      9   29

> ## Question 8.  What is the value of Ozone in the 47th row?

In [ ]:
# TODO

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [ ]:
# TODO

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [ ]:
# TODO

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [ ]:
# TODO

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
# TODO

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
# TODO

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [ ]:
# TODO