# DS-SF-27 | Lab 02 - Research Design and `pandas`

In this lab, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [2]:
import os

import pandas as pd

pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [4]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [5]:
df.shape

(153, 6)

In [6]:
df.shape[0]

153

In [7]:
len(df)

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [8]:
# len(df.columns)
i=0
while i< len(df.columns):
    print df.columns[i]
    i+=1

Ozone
Solar.R
Wind
Temp
Month
Day

In [13]:
for column in df.columns:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [9]:
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [14]:
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [16]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [25]:
df.at[47,'Ozone']

37.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [28]:
len(df[df.Ozone.isnull()])

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [29]:
df.Ozone.mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [13]:
df_subs = df[(df.Ozone > 31) & (df.Temp > 90)]
df_subs

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
..     ...      ...   ...   ...    ...  ...
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

[10 rows x 6 columns]

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [15]:
df_subs['Solar.R'].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [22]:
df [df.Month == 6].Temp.mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [27]:
# df.Month.unique()
df[df.Month == 5].Ozone.max()

115.0